body {
    background-color: #fff;
    font-family: "Raleway","Roboto", sans-serif;
    color: #2e2f42;
}
/*
 // <uniquifier>: Use a uniquifier for the class name

.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
} 
*/

/*
 .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
} 
*/
