body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
a {
    text-decoration: none;
}
.logo-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.head-nav li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}
.logo {
    color: #2e2f42;
}
.head-addres a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #434455;
}
.head-addres a:hover,
.head-addres a:focus {
    color: #404bbf;
}
 
.section-1 {
    background-color: #2e2f42;
}
.section-1 h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    color: #fff;
}
.section-1 button {
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}
.section-2 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
}
.section-2 ul li h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.section-2 ul li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.section-3 {
background-color: #f4f4fd;;
}
.section-3 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
}
.section-3 ul li h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;     
}
.section-3 ul li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.section-4 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
}
.section-4 ul li h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.section-4 ul li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.foot-1 {
    background-color: #2e2f42;
}
.foot-1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
}

